@media screen and (min-width:766px) {
	#responsive-menu-button { display: none; }
}

@media screen and (max-width:767px) {
	#aside { display: none; }
	#responsive-menu-button.btn{
		background-image:none;
		border:none;
	}
	#responsive-menu-button {
		background-color:#000;
		padding:6px 6px 0 5px;
		display:inline-block;
		position: absolute;
		top: 0;
		left: 20px;
		margin-top:5px;
		span{
			border-color: #000 #fff #000 #000;
			border-image: none;
			border-style: solid;
			border-width: 8px;
			display: inline-block;
			font-weight: normal;
			height: 0;
			overflow: hidden;
			width: 0;
			position:relative;
			top:0;
			right:5px
		}
	}
	#responsive-menu-button.open span{
		border-color: #fff #000 #000 #000;
		top:5px;
		right:0;
	}
	#sidr-main{
				a.sidr-class-on, li.sidr-class-on a {
			box-shadow: inset 0 0 15px 3px #222222;
		}
		a:focus, a:hover, a:active {
			background: none!important;
		}
	}
}